body {
	font-family: monospace;
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

#text-container {
	position: relative;
	white-space: pre-wrap;
	background: #1e1e1e;
	color: #777;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	height: 400px;
	overflow: auto;
	line-height: 1.5em;
}

#file-uploader {
	flex-shrink: 0;
	padding: 20px;
	border: 2px dashed #aaa;
	text-align: center;
}

.typed {
	color: lightgreen;
}

.highlight {
	background: #333;
	color: white;
}

.error {
	color: red;
	font-weight: bold;
}
